<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Wikinimous</a>
  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= link_to "Edit Article" , edit_article_path %></button>
  </form>
</nav>

<h1><%= @article.title %></h1>
<p><%= @article.content %></p>


<p><%= link_to "Back", articles_path %></p>
